Repository aslamabdurrohim/finendisign: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, git add ., stylelint --fix

footer on about component optimized
  server-build/bundle.js
  src/views/About/About.module.css
Due: git add ., stylelint --fix

logos view init
  src/App.js
  src/utils/routes.js
  src/views/Illustrations/Illustrations.module.css
  src/views/Logos/Logos.js
  src/views/Logos/LogosDetail/LogosDetail.js
  src/views/Logos/LogosDetail/LogosDetail.module.css
  src/views/Logos/LogosDetail/index.js
  src/views/Logos/index.js
Due: prettier --write, eslint --fix, git add ., stylelint --fix

breakdown detail views into component
  src/components/Common/Table/Table.js
  src/components/Gallery/GalleryDetailWrapper/GalleryDetailWrapper.js
  src/components/Gallery/GalleryDetailWrapper/GalleryDetailWrapper.module.css
  src/components/Gallery/GalleryDetailWrapper/index.js
  src/utils/mock.js
  src/views/Illustrations/IllustrationsDetail/IllustrationsDetail.js
  src/views/Logos/LogosDetail/LogosDetail.js
Due: prettier --write, eslint --fix, git add ., stylelint --fix

removed unused css files
  src/views/Illustrations/IllustrationsDetail/IllustrationsDetail.module.css
  src/views/Logos/LogosDetail/LogosDetail.module.css
Due: git add ., stylelint --fix

setting up api configurations
  package.json
  src/App.js
  src/api/index.js
  src/api/request.js
  src/routes.js
  src/utils/consts.js
  src/utils/mock.js
  yarn.lock
Due: prettier --write, eslint --fix, git add .

add fetch functionality to the components
  package.json
  src/App.js
  src/api/index.js
  src/api/request.js
  src/components/Gallery/Gallery.js
  src/components/Gallery/Gallery.module.css
  src/components/Gallery/GalleryDetail/GalleryDetail.js
  src/components/Gallery/GalleryItem/GalleryItem.js
  src/index.css
  src/utils/consts.js
  src/utils/mock.js
  src/views/Illustrations/Illustrations.js
  src/views/Illustrations/IllustrationsDetail/IllustrationsDetail.js
  src/views/Logos/Logos.js
  src/views/Logos/LogosDetail/LogosDetail.js
  yarn.lock
Due: prettier --write, eslint --fix, git add ., stylelint --fix

Path conditions:
  prettier --write: any of: src/**/*.js
  eslint --fix: any of: src/**/*.js
  git add .: (any of: src/**/*.js) or (any of: src/**/*.css)
  stylelint --fix: any of: src/**/*.css
